@charset "utf-8";



/* 초기화 요소 */
*{ margin: 0; padding: 0;}

ol,ul {list-style: none;}

a:link,a:visited,a:hover,a:active {text-decoration: none; color: #000;}

body {font-family: 'Noto Sans KR'; font-size: 16px; line-height: 26px; color: #000; background: #f5faff;}


/* */
.btn_close {display:block; width: 5vw; position: absolute; top:1vw; right: 1vw; min-height: 5vw; box-sizing: border-box; transition: all 0.3s;}
.btn_close:hover {opacity: 0.3;}
.btn_close a img {width: 100%;}

#styleguide { width:100%; position: relative; z-index: -1;}
#styleguide img {width: 100%; z-index: -1;}
#styleguide .view { z-index: 99999; }
#styleguide .view a {color: #fff; font-size: 1.2vw; letter-spacing: 3px; display: inline-block; padding: 1% 3%; background: #3f3f41; text-transform: uppercase; position: absolute; top:30vw; left: 50%; transform: translateX(-50%); z-index: 1; border-radius: 21px; font-weight: bold;z-index: 99999;}
#styleguide .btn_back {z-index: 5;}
#styleguide .btn_back a {color: #fff; display: inline-block; padding: 2.4% 2%; background: #3f3f41; text-transform: uppercase; position: absolute; bottom:5vw; left: 50%; transform: translateX(-50%); z-index: 1; border-radius: 100px; }

